.PersonsContainer {
  width: 250px;
}

.PersonsContainer header {
  align-self: center;
  text-align: center;
  font-size: 24px;
  color: white;
  margin-top: 20px;
}

.Participantes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Participantes input {
  text-align: center;
  font-size: 20px;
  color: black;
  margin-top: 28px;
  height: 45px;
  width: 200px;
}

@media (max-width: 700px) {
  .Participantes input {
    height: 35px;
    width: 100px;
  }
}
