.container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  background-color:rgb(210, 210, 210);
  min-height:500px;
  margin-top: 220px;
  flex-wrap: nowrap;
  border: 5px solid rgb(211, 99, 255);
  border-right: 0;
  border-left: 0;
}

.PrintButton{
  position: fixed;
  margin: 20px;
  padding: 2.5px;
  top: 10px
}

@media only screen and (min-width: 1200px){
  .container {
  }
}

@media only screen and (min-width: 982px){

}

@media (max-width: 768px) {
  .container {
    display: inline;
    justify-content: end;
  }
  .PrintButton{
    position: fixed;
    margin: 20px;
    padding: 2.5px;
  }
}
