.DropContainer {
  border-radius: 10px;
  border: 3px dashed slategray;
  background-color: rgba(172, 175, 179);
  display: flex;
  align-self: center;
  height: 100px;
  width: 100px;
}

.Icon {
  position: relative;
  align-self: center;
  left: 32px;
}

text {
  position: relative;
  left: 23px;
  top: 15px;
  font-size: 22px;
}

@media (max-width: 768px){
  .DropContainer{
    margin-top: 15px;
  }
}
